.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{

  display: flex;
  position: fixed;
  top: 0;
  height: 55px;
  width: 100%;
  z-index: 8;
  box-shadow: 0 2px 5px 2px rgb(0 0 0 / 15%);
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  background-color: black;
}


.header img{

  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;

}
.header button{
  padding: 12px;
  margin-right: 20px;
  border: 0;
  background-color: black;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.content{
  margin-top: 100px;
  padding: 20px;
}


.movielist {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.movielist .movie{
  display: block;
  margin: 5px;
  margin-top : 20px;
  padding: 50px;
}

body
{
  background-color: #0E1117;
  color: white;
}

body input{
  border: 0;
  border-radius: 2px;
}

.movielist button{

  border-radius: 2px;
  border: 0;
  background-color: #1A1A1A;
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

#movieLink{

  padding: 10px;
  color: white;
  font-size: 1rem;
}

.movielist button img{

  height: 16rem;
  width: 12rem;
  cursor: pointer;
}

.movie{

  font-family: "Nunito Sans", sans-serif;
  margin-top: 100px;
  padding-left: 40px;
}

.movie button{

  border : 0;
  border-radius: 5px;
  margin-right: 80px;
  background-color: #0F1117;
  font-family: "Nunito Sans", sans-serif;
  color: #57A6FF;
  cursor: pointer;
  font-size: 18px;
}



.movie iframe{
  margin-top : 40px;
  border: 0;
  height: 30rem;
  width: 70%;
  
}

.reviews .review h4{

  color: #57A6FF;
}

.reviews h1{

  color: #57A6FF;
}

.ratingForm {
  position: absolute;
  margin-top: 20px;
  text-align: center;
  margin-left: 40%;
  height: 40px;

}

.ratingForm button{
  border : 0;
  border-radius: 5px;
  background-color: #0F1117;
  font-family: "Nunito Sans", sans-serif;
  color: #57A6FF;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  font-size: 20px;

}

.reviewBox{

  position: absolute;
  right : 20rem;
  top : 55rem;
  height: 150px;
  width:300px;
  margin-left: 60%;
}

#reviewBtn{

  margin-left: 80%;
  border : 0;
  border-radius: 5px;
  background-color: #0F1117;
  font-family: "Nunito Sans", sans-serif;
  color: #57A6FF;
  cursor: pointer;
  text-decoration: underline;
  font-size: 18px;
}

.reviewBox textarea{

  height:100px;
  width: 250px;
  border: 0;
  border-radius: 5px;
}

.reviewBox button{

  border : 0;
  border-radius: 5px;
  margin-right: 80px;
  background-color: #0F1117;
  font-family: "Nunito Sans", sans-serif;
  color: #57A6FF;
  cursor: pointer;
  font-size: 18px;
}

.login{

  margin-top: 100px;
  text-align: center;
}




.loginInput{

  margin-top: 100px;
  text-align: center;
  border: #61dafb;
  border-width: 10px solid;
}


.login table{

  margin-left: 40%;

}

.login #loginBtn {

  border : 0;
  border-radius: 5px;
  background-color: black;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  cursor: pointer;
  
  margin-top: 5px;
  font-size: 15px;
}
#clickHere{
  border: 0;
  background-color: #0F1117;
  color: #57A6FF;
  cursor: pointer;
}

.register{
  text-align: center;
  margin-top: 100px;
}




.register table{
  margin-left: 35%;
  margin-top: 50px;
}

#registerbtn{
  margin-left: 80%;
  border : 0;
  border-radius: 5px;
  background-color: black;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  font-size: 15px;

}


.footer{
  position:sticky;
  bottom: 0;
  margin-top: 70%;
  width: 100%;
  background-color: #edecec;
  display: flex;
  justify-content: center;

}
.footer img{
  height: 2.5em;
  border-radius: 50%;
}
