.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{

  display: flex;
  position: fixed;
  top: 0;
  height: 60px;
  width: 98%;
  z-index: 8;
  box-shadow: 0 2px 5px 2px rgb(0 0 0 / 15%);
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px;
  background-color: black;
}


.header img{

  height: 2.8rem;
  width: 2.8rem;
  border-radius: 100%;

}

/* .header img button{

  height: 3rem;
  width: 3.5rem;
  border-radius: 100%;

} */
.header button{
  padding: 12px;
  margin-right: 20px;
  border: 0;
  background-color: black;
  color: white;
  font-size: 17px;
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
}

.header .left{
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}

.content{
  margin-top: 100px;
  
}


.movielist {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.movielist .movie{
  display: block;
  margin: 5px;
  padding : 25px;
  margin-top : 20px;
  text-align: center;
}

body
{
  padding-left: 10px;
  background-color: #0E1117;
  color: white;
}

body input{
  border: 0;
  border-radius: 2px;
}

.search{

  display: flex;
  margin-top: 2%;
  margin-bottom: 100px;
  height: 2.5rem;
  width: 45%;
  margin-left: 27%;
  background-color: #0F1117;
  border-radius: 5px;
  border: 0;
}

.searchbox{
  height: 30px;
  width: 70%;
  margin-top: 5px;
  margin-bottom: 1px;
  border-radius: 5px;
  margin-left: 1%;
  font-size: 15px;
  border: 0;
}

.search img{
  margin-top: 4px;
}

.search .searchBtn{

  height:100%;
  width: 20%;
  cursor: pointer;
  border: 25px;
 
  background-color: #beb5ee;
}

.search input{
  width: 100%;
}

.movielist button{

  border-radius: 2px;
  border: 0;
  margin-left: 17%;
  background-color: #1A1A1A;
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

#movieLink{

  padding: 10px;
  color: white;
  font-size: 1rem;
}

.movielist button img{

  height: 16rem;
  width: 12rem;
  cursor: pointer;
}

.movielist .movie .shortInfo{
  
  text-align: center;
  
}

.movie{

  font-family: "Nunito Sans", sans-serif;
  margin-top: 100px;
}

.movie button{

  border : 0;
  border-radius: 5px;
  margin-right: 80px;
  background-color: #0F1117;
  font-family: "Nunito Sans", sans-serif;
  color: #57A6FF;
  cursor: pointer;
  font-size: 18px;
}



.movie iframe{
  margin-top : 40px;
  border: 0;
  height: 30rem;
  width: 50rem;
  
}


.reviews .review h4{

  color: #57A6FF;
}
.reviews img{
  height: 1.5rem;
  border-radius: 60%;
  padding: 2px;
  padding-top: 5px;
  
}
.reviews p{
  margin-top: -5px;
  padding-left: 50px;
}

.reviews h1{

  color: #57A6FF;
}


.ratingForm {
  position: absolute;
  text-align: center;
  padding-top: 150px;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(8px);

}

.ratingForm button{
  border : 0;
  border-radius: 5px;
  background-color: #0F1117;
  font-family: "Nunito Sans", sans-serif;
  color: #57A6FF;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  

}

.reviewBox{

  position: absolute;
  height: 100%;
  width:100%;
  backdrop-filter: blur(8px);
  text-align: center;
}

#reviewBtn{

  margin-left: 60%;
  border : 0;
  border-radius: 5px;
  background-color: #0F1117;
  font-family: "Nunito Sans", sans-serif;
  color: #57A6FF;
  cursor: pointer;
  text-decoration: underline;
  font-size: 18px;
  height: 2rem;
}

.reviewBox textarea{

  height:100px;
  width: 250px;
  border: 0;
  margin-right: 8%;
  border-radius: 5px;
}

.reviewBox button{

  border : 0;
  border-radius: 5px;
  margin-right: 80px;
  background-color: #0F1117;
  font-family: "Nunito Sans", sans-serif;
  color: #57A6FF;
  cursor: pointer;
  font-size: 18px;
}

#DeleteBtn{

  height: 2rem;
  width: 4rem;
  font-size: 0.75rem;
  text-decoration: underline;
}

.login{

  margin-top: 100px;
  text-align: center;
}


.loginInput{

  margin-top: 100px;
  text-align: center;
  border: #61dafb;
  border-width: 10px solid;
}


.login table{

  margin-left: 40%;

}

.login #loginBtn {

  border : 0;
  border-radius: 5px;
  background-color: black;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  cursor: pointer;
  
  margin-top: 5px;
  font-size: 15px;
}
#clickHere{
  border: 0;
  background-color: #0F1117;
  color: #57A6FF;
  cursor: pointer;
}

.register{
  text-align: center;
  margin-top: 100px;
}




.register table{
  margin-left: 35%;
  margin-top: 50px;
}

#registerbtn{
  margin-left: 80%;
  border : 0;
  border-radius: 5px;
  background-color: black;
  font-family: "Nunito Sans", sans-serif;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  font-size: 15px;

}


.footer{
  position:sticky;
  bottom: 0;
  margin-top: 70%;
  width: 100%;
  background-color: #edecec;
  display: flex;
  justify-content: center;

}
.footer img{
  height: 2.5em;
  border-radius: 50%;
}

.developer{

  text-align: end;
  margin-left: 10px;
  margin-top: 20px;
  padding-left: 20px;
  color: black;
  font-size: 0.7rem;
}




@media screen and (max-width: 480px){

  /* body{
    height: 100%;
    width: 95%;
  } */
  
  /* .movielist{
    display: flex;
    flex-wrap: wrap;
  } */

  body{
    padding: 10px;
  }

  .movie iframe{

  margin-top : 40px;
  border: 0;
  height: 12rem;
  width: 17rem;
  
}
  .movie{
    font-size: 1.2rem;
  }
  .header{
    font-size: 0.6rem;
    width: 90%;
  }
  .header img{
    height: 2.5rem;
  }

  .header .left{
  margin-left: -12px;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  font-size: 0.6rem;
}


.header{

  display: flex;
  position: fixed;
  top: 0;
  height: 60px;
  width: 90%;
  z-index: 8;
  box-shadow: 0 2px 5px 2px rgb;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: black;
}



  .login table{

  margin-left: 10%;
}

.loginInput{
  margin-bottom: 400px;
}

.search{

  display: flex;
  margin-top: 2%;
  margin-bottom: 100px;
  height: 2rem;
  width: 80%;
  margin-left: 10%;
  background-color: #0F1117;
  border-radius: 5px;
  border: 0;
}

.movielist {

  display: flex;
  flex-wrap: wrap;
  
}

.movielist .movie{

  display: block;
  margin-top : 20px;
  font-size: 1.2rem;
}

.movielist button{

  border-radius: 2px;
  border: 0;
  background-color: #1A1A1A;
  font-family: "Nunito Sans", sans-serif;
  color: white;

}

#movieLink{

  color: white;
  font-size: 0.7rem;

}

.movielist button img{

  height: 14rem;
  width: 10rem;
  cursor: pointer;
}

.movie{

  font-family: "Nunito Sans", sans-serif;
  margin-top: 100px;
}

.movielist .movie .shortInfo{

  text-align: center;
}


.register table{
  margin-left: 10%;
  margin-top: 50px;
}

.register{
  font-size: 0.7rem;
  margin-bottom: 400px;
}

.reviewBox{

  position: absolute;
  height: 100%;
  width:100%;
  backdrop-filter: blur(8px);
  text-align: center;
}

.reviewBox textarea{

  height:100px;
  width: 200px;
  border: 0;
  margin-right: 10%;
  border-radius: 5px;
}

}